.profile-image {
    border-radius: 50%; /* Rend les bords de l'image totalement ronds */
    object-fit: cover; /* S'assure que l'image couvre bien toute la zone sans déformation */
}
 <!-- Pedro test-->
.tenor-gif-embed{
      border-radius: 50%; /* Rend les bords de l'image totalement ronds */
    object-fit: cover; /* S'assure que l'image couvre bien toute la zone sans déformation */
}
.tenor-gif-embed{
    width: 120px;
    height: 120px; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}