*{
    box-sizing: border-box ;
}

/* mobile first*/

body{
    margin: 0px;
   display: grid;
   grid-template-columns: 1fr;
   width: 100%;
   
    
}
/* Stämmer detta gällande storlek?*/
p {
    font-size: 22px;
    line-height: normal;
    font-family:  'EB Garamond', serif;
}

h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif
}

a{
    text-decoration: none;
}

.logo{
    display: none;
   
}

.maininformation{
    display: flex;
    flex-direction: column;
align-content: center;
background-color: #F5F5F5;
    
}
/*why is this centered*/
.maininformation h1{
    color: #0b24f4;
    font-size: 28px;
    }

.maininformation h2{
    color: black;
    font-size: 32px;
    }
.maininformation p{
    margin: 40px;
}
.informationpicture{
  display:flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

.informationpicture img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
  padding-top: 10px;
    padding-bottom: 10px;
}

.infoaboutIru p{
width: 327px;

left: 24px;
top: 401px;
font-style: normal;
font-weight: 400px;
font-size: 22px;
line-height: 29px;

}

.infoaboutIru{
    display: flex;
justify-content: center;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
 
    margin:20px;
}
.iconsgithub{
    width: 32px;
    width: 32px;
    order: 1;
}
.iconsgithub img{
width: 23.25px;
height: 22.7px;
}

.iconslinkedin{
    width: 32px;
    width: 32px;
    order: 2;
  
}
.iconslinkedin img{
    width: 23.25px;
    height: 22.7px;
}

.scroll{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.scroll img {
    width: 19px;
    height: 30px;
}


.techskills{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #EDFFFF;
    width: 100%;
  

}
.techskills h2{
    color: #0B24F5;
    font-size: 80px;
    width: 100%;
    height: 108px;
 
    padding-top: 60px;
   
}
.techtitle{
    justify-self: center;
}

.techchild{
   padding-top: 20px;
    justify-self: center;
    text-align: center;
   margin: 40px;


}
/*behöver lösa gap*/
.techchild p{
   
    font-size: 22px;
   
}
.js{
    background-color: #0B24F4;
}
.tech{
    color: white;
    padding: 0 2px;
}

.react{
    background-color: #e65f76;
}
.mob{
    background-color: #12af2c;
}


.projects{
   display: flex;
   flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    background-color: white;
}

.projects h2{
    color: #0B24F5;
    font-size: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
  
}

.projects h3{
    font-size: 32px;
    
}

.tags{
    display: flex;
  
}

.tags p{
    color: white;
    background-color: #000000;
    margin: 4px;
    padding: 2px 6px;
}
.featuredContainers{
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.featuredContainers img{
    width: 320px;
    height: 320px;
}

.linksproject{

display: flex;
margin-bottom: 10px;
align-content: center;

}
.gitbtn{
display: flex;
align-items: center;
background: #F5F5F5;
    color: black;
    border-radius: 40px;
    width: 150px;
    height: 48px;
    border: none;
    margin-right: 7px; 

}

.gitbtn img{
    margin-right: 10px;
    width: 32px;
    height: 32px;
}
.gitbtn span{
    display: inline-block;
}
.livebtn{
    display: flex;
    align-items: center;
   
    background-color: #F5F5F5;
    color: black;
    border-radius: 40px;
    width: 164px;
    height: 48px; 
    border: none;
   
}
.livebtn p{
    font-size: 20px;
}
.livebtn img {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}
.livebtn span{
    display: inline-block;
}
a {
    text-decoration: none;
}
.mywords{

    background-color: #FCEDEA;
  width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.words{
padding-top: 45px;
padding-left: 20px;
padding-bottom: 15px;
}
.words h2{
    font-size: 63px;
    font-weight: bold;
    color: #EB5577;
   padding-bottom: 45px;
    
  
}
.words h3{
    font-size: 32px;
    font-weight: bold;
   color: black;
}

.words p {
    font-size: 22px ;
padding-bottom: 20px;
}

.blog1 img {
  width: 327px; 
  height: 340px; 
  padding-bottom: 35px;
}

.blog2 img{
padding-top: 40px;
    width: 327px; 
    height: 340px; 
    padding-bottom: 35px; 
}

.blog3 img{
    padding-top: 40px;
    width: 327px; 
  height: 340px; 
  padding-bottom: 35px;

}

.blog4 img{
    padding-top: 40px;
    width: 327px; 
  height: 340px; 
  padding-bottom: 35px;
}

.articlebtn{
    border: none;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin: 25px 0 0 0;
    background-color: white;
}
.skills{
display: flex;
flex-direction: column;
background-color: #FDF2E4;
justify-content: center;
padding-left: 20px;
}

.skills h3{
padding-top: 50px;
    color: #0B24F5;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    padding-bottom: 30px;
   
}
.code{
    padding-bottom: 30px;
    text-align: center;
}
.code dt{
    background-color: #EB5577;
   
}
.toolbox{
    text-align: center;
    padding-bottom: 30px;
}
.toolbox dt{
   background-color: #2483E0; 
 
}
.morelist{
    text-align: center;
    padding-bottom: 30px;
}
.more{
    background-color: #0B24F5;
   
}

.upcomming{
    text-align: center;
    padding-bottom: 50px;
   
}
.upcomming dt{
    background-color: #6DB486;
}
dt{
    display: inline-block;
    font-size: 24px;
    margin: 0 0 15px 0;
    color: white ;
    padding: 2px 6px;
}

.timetotalk{
display: flex;
flex-direction: column;
width: 100%;

padding-left: 20px;
}

.timetotalk h3{
    color: #EB5577;
    font-size: 50px;
   margin-top: 40px;
    margin-bottom: 30px;
}

.presentationend img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
}

.presentationend h1{
    color: #0B24F4;
    font-size: 28px;
    font-weight: 700px;
    line-height: 38px;
}

.presentationend h2{
    color: black;
    font-size: 32px;
    font-weight: 900px;
    line-height: 43px;
}

.presentationend p{
   color: #565656;
   font-size: 24px;
   font-weight: 400;
   line-height:32px ;

}
.contactinfo p{
   font-size: 22px ;
   font-weight: bold;
   margin-top: 15px;
   
}



@media(min-width: 768px) and (max-width: 1024px){
    body{

      max-height: 1024px;
        
    }
    .maininformation{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
        /*background-color: #F5F5F5;
        display: grid;
        grid-template-columns: 1fr;*/
          
        }
    .logo{
      display: grid
    }
    .logo img {
      width: 100%;
      height: 500px;
       
    }

.maininformation p{
   padding: 40px;
    font-size: 22px;
   }
    
   
 .informationpicture{
        
   justify-content: flex-start;
   padding-top: 20px;
    } 
    
    .informationpicture img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
      padding-top: 10px;
      
       
    }   
.iru{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}
    .iru h1{
        color: #0b24f4;
        font-size: 28px;
        }
    
    .iru h2{
        color: black;
        font-size: 32px;
        }
    


        /*Featured projects*/
.projects{
 grid-column: 1/2;
 display: flex;
 flex-direction: column;
 align-items: flex-start;

}

.projects h2{
    grid-column: 1/2;
}

.featuredContainers{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 0 5px 20px 5px;
padding-bottom: 5px;

}

.featuredContainers{
    width: 100%;
    height: 280px; 
}


.featured-text{
  margin: 10px 25px;;
}

.linksproject{
    display: flex;
    flex-direction: column;
    margin: 10px 0;

}






    

@media(min-width: 1024px) and (max-width: 1440px){
   
    
    .maininformation{
       display: flex;
       flex-direction: row;
      
            /*background-color: #F5F5F5;
            display: grid;
            grid-template-columns: 1fr;*/
              
            }
        .logo{
       display: inline-block;
       order: 1;
       
        }
        .logo img {
          width: 100%;
          height: 100%;
           
        }

.informationpicture{
   order: 0;
  
}

.techskills {
    padding-top: 60px;
    padding-bottom: 60px;

}

.techskills p{
    margin: 40px;
}
    
   

    .scroll{
  align-content: flex-end;
      align-self: flex-end;
     
    }
    
   
    }