* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-decoration: none;
}

body {
  background-color: F2F1F0;
  height: 100vh;
}

/* Font Properties */

.ui-text {
  font-family: 'Encode Sans', sans-serif;
  font-weight: 400;
  color: white;
}

.title {
  font-size: 80px;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  text-align: center;
}


/* Page Container for Phone for Centering */
.phone-container {
  display: grid;
  height: 100vh;
  justify-items: center;
  align-content: center;
}

/* Pink Phone with Drop Shadow */
.pink-phone {
  background-color: #EEBFC7;
  width: 325px;
  height: 650px;
  /* max-height: 750px; */
  border-radius: 20px;
  box-shadow: 4px 6px 0 #bfbfbf;
  display: grid;
  justify-items: center;
  align-content: center;
}

/* Black Background Screen */
.black-screen {
  background-color: #0D0E0F;
  width: 305px;
  height: 630px;
  /* max-height: 730px; */
  border-radius: 15px;
  display: grid;
  justify-items: center;
  overflow: hidden;
}

/* Upper Bar - Incl. Camera Hole - Visual Only */
.camera-space {
  margin-top: 9px;
  background-color: #0D0E0F;
  border-radius: 0px 0px 15px 15px;
  width: 135px;
  height: 15px;
  position: absolute;
}

.camera-hole {
  height: 12px;
  width: 12px;
  background-color: black;
  border-radius: 50%;
  margin-left: 9px;
  margin-top: -3.5px;
  box-shadow: inset 1px 1px 0 #14181c;
}

/* First Screen That Prompts User to Unlock with Name */
.unlock-screen {
  width: 285px;
  height: 630px;
  background-color: purple;
  background-color: #0D0E0F;
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white-lock {
  height: 40px;
  width: 40px;
  margin-top: 30px;
}

.pink-swirl {
  width: 240px;
  height: 240px;
  margin: 18px 0;
}

.login-container {
  display: flex;
  background-color: #0D0E0F;
  color: white;
  height: 60px;
  width: 230px;
  border: 3px solid white;
  border-radius: 25px;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.login-container--active, .login-container:hover {
  background-color: #EEBFC7;
}

.username__button {
  border: none;
  height: 50px;
  width: 160px;
  background-color: transparent;
  color: white;
  padding-left: 25px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  font-size: 20px;
  cursor: initial;
}

.username__button:focus, .ex-name-input:focus {
  outline: none;
}

.login__button {
  background: transparent;
  border: none;
}

.send-arrow {
  width: 42px;
  height: 42px;
}

.send-arrow:hover {
  opacity: 0.9;
  transition: all 0.2s ease;
}


/* Chat Screen */
.chat-screen {
  margin-top: -20px;
  visibility: hidden;
  width: 285px;
}

/* Chat Screen Upperbar w Icon & Display Name */
.chat-screen__upperbar {
  width: 285px;
  height: 80px;
  background-color: #2D2E2F;
  position: relative;
  margin-top: -600px;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.upperbar-text {
  font-size: 16px;
}

.bestie-icon__header {
  height: 34px;
  width: 34px;
  background-color: white;
  border-radius: 50%;
}

/* Chat Icon Styling */
.chat-icon {
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
}

.bestie-icon {
  align-self: flex-start;
}

.user-icon {
  align-self: flex-end;
}

/* Their CSS */
.chat {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  flex-direction: column;
  padding-bottom: 16px;
  height: 470px;
}

.bot-msg {
  display: flex;
  margin: 16px 0 0 0;
  flex-shrink: 0;
}

.user-msg {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0 0 0;
  flex-shrink: 0;
}

.bubble {
  background-color: #AFD4E2;
  color: #0D0E0F;
  max-width: 70%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.25;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.bot-bubble {
  border-radius: 0 20px 20px 15px;
  margin-left: 8px;
}

.user-bubble {
  border-radius: 20px 15px 0px 20px;
  margin-right: 8px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
}

.input-form {
  background-color: #AFD4E2;
  color: #0D0E0F;
  border-radius: 20px 15px 0 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  align-self: flex-end;
}

.ex-name-input {
  border: none;
  background-color: transparent;
  padding: 15px;
  flex: 1;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.ex-send-btn {
  width: 42px;
  height: 42px;
}

.ex-send-btn:hover {
  opacity: 0.9;
  transition: all 0.2s ease;
}

/* Number of Years */

.years-input {
  border: none;
  background-color: transparent;
  padding: 15px;
  flex: 1;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.years-send-btn {
  width: 42px;
  height: 42px;
}

/* Emoji Options Reply */

.emoji-option {
  font-size: 30px;
}

.emoji-option:hover {
  cursor: pointer;
}

.cry-emoji {
  float: left;
  padding-left: 15px;
}

.puke-emoji {
  margin-left: auto;
  margin-right: auto;
}

.angry-emoji {
  float: right;
  padding-right: 30px;
}

