* {
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1485809722779-439bb523521d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
 /* font-family: 'Montserrat', sans-serif;*/
 font-family: 'Lexend Mega', sans-serif;
  /*background: #0026ff;*/
}

h1 {
  font-weight: bold;
  font-size: 44px;
  line-height: 34px;
  color: #fff;
  background-color: black;
  padding-bottom: 20px;
  padding-top: 15px;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #fff;
  background-color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 36px;
}

p {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}

input {
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
  background:/* #e5e9ff*/linen;
  color:/* #0026ff*/black;
  padding: 16px;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 26px;
  flex: 1;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: 600px;
  border-radius: 30px;
  background: #fff;
  padding: 20px 24px;
  padding-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.chat {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  flex-direction: column;
  padding-bottom: 16px;
}

.bot-msg {
  display: flex;
  margin: 16px 8px 0 0;
  flex-shrink: 0;
}

.user-msg {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0 0 8px;
  flex-shrink: 0;
}

.bot-msg img,
.user-msg img {
  width: 60px;
  height: 60px;
}

.bubble {
  background: /*#e5e9ff*/linen;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 24px;
  color:/* #0026ff*/black;
  max-width: 40%;
}

.bot-bubble {
  border-radius: 0px 26px 26px 26px;
  margin-left: 8px;
  font-family: 'Indie Flower', cursive;
}

.user-bubble {
  border-radius: 26px 0 26px 26px;
  margin-right: 8px;
  font-family: 'Indie Flower', cursive;
}

.input-wrapper {
  display: flex;
  justify-content: center;
}

.input-wrapper form {
  width: 100%;
  display: flex;
}

button {
  background-color:/* #0026ff*/black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 40px;
  margin-right: 4px;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Montserrat';
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.9;
  transition: all 0.2s ease;
}
