* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: rgb(150, 87, 156);
}

h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 36px;
}

p {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
 
}

input {
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
  background: #e5e9ff;
  color: #99a1d3;
  padding: 16px;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 16px;
  flex: 1;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: 600px;
  border-radius: 10px;
  background: #e6d9e8;
  padding: 20px 24px;
  padding-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.chat {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  flex-direction: column;
  padding-bottom: 16px;
}



.bot-msg {
  display: flex;
  margin: 16px 8px 0 0;
  flex-shrink: 0;
}

.user-msg {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0 0 8px;
  flex-shrink: 0;
}

.bot-msg img,
.user-msg img {
  width: 60px;
  height: 60px;
}

.bubble {
  background: #e5e9ff;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  padding: 16px 24px;
  color: #292d3f;
  max-width: 40%;
}

.bot-bubble {
  border-radius: 0px 26px 26px 26px;
  margin-left: 8px;
}

.user-bubble {
  border-radius: 26px 0 26px 26px;
  margin-right: 8px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
}

.input-wrapper form {
  width: 100%;
  display: flex;
  align-items: center;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
}

label {
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #0026ff;
  margin-right: 20px;
}

button {
  background-color: #d742c1;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 40px;
  margin-right: 4px;
  font-size: 16px;
  line-height: 15px;
  font-family: 'Montserrat';
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.9;
  transition: all 0.2s ease;
}

