:root {
  --logo-name-font-family: "Rubik Gemstones", cursive;
  --headings-font-family: "Rye", cursive;
  --paragraph-font-family: "Newsreader", serif;
  --border-color: #94b1aa;
  --primary-bg-color: #94b1aa;
  --secondary-bg-color: #e6f3f0;
  --primary-text-color: #000;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/code.jpg");
  background-repeat: no-repeat center top;
  background-size: cover;
}

.border-container {
  background-color: #fff;
  border: 10px outset var(--border-color);
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

h1,
h2 {
  font-family: var(--headings-font-family);
  font-weight: lighter;
  color: var(--primary-text-color);
  text-align: center;
  line-height: 34px;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 24px;
  margin: 20px;
}

p {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
  font-family: var(--paragraph-font-family);
}

input {
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
  background: var(--secondary-bg-color);
  color: #000;
  padding: 16px;
  font-size: 16px;
  font-family: var(--paragraph-font-family);
  font-weight: 600;
  line-height: 26px;
  flex: 1;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: 600px;
  border-radius: 30px;
  padding: 20px 24px;
  padding-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 10px;
}

.chat {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  flex-direction: column;
  padding-bottom: 16px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 rgb(0 0 0 / 19%);
  box-shadow: var(--box-shadow);
  margin: 20px auto;
  max-width: 500px;
  padding: 30px;
}

.bot-msg {
  display: flex;
  margin: 16px 8px 0 0;
  flex-shrink: 0;
}

.user-msg {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0 0 8px;
  flex-shrink: 0;
}

.bot-msg img {
  width: 100px;
  height: 60px;
}

.user-msg img {
  width: 80px;
  height: 60px;
}

.welcome-img {
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.bubble {
  background: var(--secondary-bg-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  overflow-wrap: break-word;
  padding: 16px 24px;
  color: #000;
}

.bot-bubble {
  border-radius: 0px 26px 26px 26px;
  margin-left: 8px;
}

.user-bubble {
  border-radius: 26px 0 26px 26px;
  margin-right: 8px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
}

.input-wrapper form {
  width: 100%;
  /* display: flex; */
  align-items: center;
}

label {
  font-size: 16px;
  font-family: var(--paragraph-font-family);
  font-weight: 500;
  color: var(--primary-text-color);
  margin-right: 20px;
}

button,
input {
  display: block;
}

.send-btn {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 4px;
  padding: 16px 40px;
  margin: 5px;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--paragraph-font-family);
  font-weight: 500;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: all 200ms ease;
}

.send-btn:hover {
  opacity: 0.9;
  transition: all 200ms ease;
  background: var(--secondary-bg-color);
  color: var(--primary-text-color);
  border: 1px solid var(--border-color);
}

.primary-button,
.secondary-button {
  cursor: pointer;
  border-radius: 4px;
  padding: 20px 15px;
  margin: 10px;
  box-shadow: var(--box-shadow);
  transition: all 200ms ease;
}

.primary-button {
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
  border: none;
}

.secondary-button {
  background: var(--secondary-bg-color);
  color: var(--primary-text-color);
  border: 1px solid var(--border-color);
}

.primary-button:hover,
.secondary-button:hover {
  cursor: pointer;
  border-radius: 4px;
  padding: 20px 15px;
  box-shadow: var(--box-shadow);
}

.primary-button:hover {
  background: var(--secondary-bg-color);
  color: var(--primary-text-color);
  border: 1px solid var(--border-color);
}

.secondary-button:hover {
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
}

/* borrowed */
select {
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 300;
  height: 60px;
  font-family: var(--headings-font-family);
  background: var(--primary-bg-color);
  width: 100%;
  padding: 0 20px;
}

/*footer*/
.footer {
  margin-top: 50px;
  width: 400px;
}

.footer-container {
  background-color: #fff;
  border-radius: 10px;
  margin: 20px auto 0;
}

.logo-footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.logo-footer img {
  width: 50px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  margin-top: 5px;
}

.logoTextSpan {
  padding: 10px;
  font-family: var(--footer-font-family);
}

.footer-icons {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fa-linkedin,
.fa-github {
  font-size: 38px;
  padding-left: 25px;
  filter: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.3));
  text-decoration: none;
}

.fa-linkedin {
  color: #0270ad;
}

.fa-github {
  color: var(--primary-text-color);
}

.flex-parent footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-child footer {
  display: inline-flex;
}

/* desktop */
@media (min-width: 1024px) {
  .welcome-img {
    width: 20%;
  }

  .border-container {
    max-width: 50%;
  }

  .input-wrapper form {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .medium-grid-item {
    margin: 5px;
  }

  .bubble {
    max-width: 40%;
  }

  #select {
    max-width: fit-content;
  }

  .footer-container {
    width: 20%;
  }
}

/*Galaxy fold*/
@media (min-width: 280px) and (max-width: 374px) {
  .border-container {
    width: 100%;
  }

  .chat {
    padding: 0;
  }
}
