/* 
  #7FA0A7 
  #527976 
  #5E805B 
  #8AAA8F 
  #9CB4A6 
  */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #7fa0a7;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  font-weight: 300;
  line-height: 34px;
  color: #fff;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 25px;
  font-weight: 100;
  line-height: 34px;
  color: #fff;
  text-align: center;
  margin-bottom: 36px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin: 0;
}

input {
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
  background: #e5e9ff;
  padding: 16px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 26px;
  flex: 1;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: 600px;
  border-radius: 30px;
  background: #fff;
  padding: 20px 24px;
  padding-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.chat {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: none;
  scroll-behavior: smooth;
  flex-direction: column;
  padding-bottom: 16px;
}

.chat__bot-msg {
  display: flex;
  margin: 16px 8px 0 0;
  flex-shrink: 0;
}

.chat__user-msg {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0 0 8px;
  flex-shrink: 0;
}

.chat__bubble {
  background: #e5e9ff;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 24px;
  max-width: 40%;
}

.chat__bot-msg__bot-bubble {
  border-radius: 0px 26px 26px 26px;
  margin-left: 8px;
  background-color: #def5f3;
}

.chat__user-msg__user-bubble {
  border-radius: 26px 0 26px 26px;
  margin-right: 8px;
  background-color: #e8ffeb;
}

.icon {
  font-size: 35px;
  color: #000000;
}

.input-wrapper {
  display: flex;
  justify-content: center;
}

.input-wrapper form {
  width: 100%;
  display: flex;
}

button {
  background-color: #b6ddc6;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 40px;
  margin-right: 4px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Montserrat";
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: #aaaaaa 2px 2px;
}

button:hover {
  opacity: 0.9;
  transition: all 0.2s ease;
  box-shadow: none;
}

#form {
  display: flex;
  justify-content: center;
}

:placeholder-shown {
  background-color: #e2ebff;
}

input:focus::placeholder {
  color: #e2ebff;
  transition: all 1s ease-in;
}

select {
  border: none;
  border-radius: 4px;
  color: #000000;
  height: 60px;
  width: 200px;
  font-family: "Montserrat";
  background: #e5e9ff;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}

.customer-happiness__container {
  display: flex;
  justify-content: center;

  font-size: 15px;
  width: 100%;
}
