* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: url(assets/flower.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;

}

/*This is the media queries to make background image for mobiles or box around it*/
@media (max-width:767px) {
  body {
  color: #ffff;
  background: rosybrown;
  }
}

h1 {
  font-weight: bold;
  font-size: 44px;
  line-height: 34px;
  color: #b20b25;
  text-align: center;
  font-family: 'Lobster', cursive;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #b20b25;
  text-align: center;
  margin-bottom: 36px;
  font-family: 'Lobster', cursive;
}

p {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
  font-family: 'Lobster'
}

input {
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
  background: #eccbb4;
  color: #472b38;
  padding: 16px;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 26px;
  flex: 1;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: 600px;
  border-radius: 30px;
  background-color: #fff;
  opacity: 0.8;
  padding: 20px 24px;
  padding-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.chat {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  flex-direction: column;
  padding-bottom: 16px;
}

.bot-msg {
  display: flex;
  margin: 16px 8px 0 0;
  flex-shrink: 0;
}

.user-msg {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0 0 8px;
  flex-shrink: 0;
}

.bot-msg img {
  width: 60px;
  height: 60px;
}

.user-msg img {
  width: 50px;
  height: 50px;
}

.bubble {
  background: #eccbb4;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 24px;
  color: #472b38;
  max-width: 40%;
}

.bot-bubble {
  border-radius: 0px 26px 26px 26px;
  margin-left: 8px;
}

.user-bubble {
  border-radius: 26px 0 26px 26px;
  margin-right: 8px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
}

.input-wrapper form {
  width: 100%;
  display: flex;
}

button, select {
  background-color: #472b38;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 40px;
  margin-right: 4px;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Montserrat';
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover, select:hover {
  opacity: 0.9;
  transition: all 0.2s ease;
}

/*After clicking confirm page, this will be shown*/
.confirmpage {
  display: none;
}

.thankyoumessage {
  justify-content: center;
  background: none;
  font-size: 50px;
}


