* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://media.gettyimages.com/photos/wind-farm-picture-id1198660415?k=20&m=1198660415&s=612x612&w=0&h=halW352EaPnEMLC5HAxu8JtpOnw38tlwSBLAFKUPYLM=);
}

h1 {
  font-weight: bold;
  font-size: 44px;
  line-height: 34px;
  color: #fff;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #fff;
  text-align: center;
  margin-bottom: 36px;
}

p {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}

input {
  box-sizing: border-box;
  border: none;
  border-radius: 12px;
  background: #e5e9ff;
  color: #000000;
  padding: 16px;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 26px;
  flex: 1;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: 600px;
  border-radius: 30px;
  background: #fff;
  padding: 20px 24px;
  padding-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.chat {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  flex-direction: column;
  padding-bottom: 16px;
}

.bot-msg {
  display: flex;
  margin: 16px 8px 0 0;
  flex-shrink: 0;
}

.user-msg {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0 0 8px;
  flex-shrink: 0;
}

.bot-msg img,
.user-msg img {
  width: 60px;
  height: 60px;
}

.bubble {
  background: #a5a7aabd;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 24px;
  color: #000000;
  max-width: 40%;
}

.bot-bubble {
  border-radius: 0px 26px 26px 26px;
  margin-left: 8px;
}

.user-bubble {
  border-radius: 26px 0 26px 26px;
  margin-right: 8px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
}

.select {
  max-width: 100%;
  display: flex;

}

.input-wrapper form {
  width: 100%;
  display: flex;
}


button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 16px 40px;
  margin-right: 4px;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Montserrat';
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.9;
  transition: all 0.2s ease;
}

#select {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 16px 40px;
  margin-right: 4px;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Montserrat';
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
