:root {
    --ff-primary: 'Heebo', sans-serif;
    --ff-secondary: 'Play', sans-serif;
    --fw-reg: 400;
    --fw-bold: 600;
    --fw-bolder: 800;
    --clr-light: #f3f3f3;
    --clr-dark: #000;
}

* {
  box-sizing: border-box;
}

h1,
button,
.contact-options {
  color: var(--clr-light);
}

.input:focus,
.contact-options:focus {
  outline: none;
}

main,
.contact-options,
.input-wrapper form {
  width: 100%;
}

.button,
.select-wrapper {
  display: none;
}

main,
.chat,
.user-msg,
.bot-msg,
.input-wrapper,
.input-wrapper form,
.button-wrapper,
.button-active {
  display: flex;
}

.inpupt,
main,
.select-wrapper {
  box-sizing: border-box;
}

.input,
button,
.select-wrapper {
  border: none;
  font-weight: 600;
  font-size: 16px;
  font-family: var(--ff-primary);
}

.name-input,
.bubble,
button,
.select-wrapper {
  line-height: 26px;
}

.input,
button {
  border-radius: 35px;
}

button,
.contact-options {
  background: #fe8541; 
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  background: #2A3240;
}

h1 {
  font-weight: bold;
  font-size: 35px;
  line-height: 34px;
  text-align: center;
}

.name-input {
  background-color: #f0f2fa;
  flex: 1;
  padding: 16px;
}

main {
  margin: 0 auto;
  max-width: 700px;
  height: 100vh;
  background: #fff;
  border-radius: 35px 35px 0 0;
  padding: 20px 24px;
  padding-top: 0;
  flex-direction: column;
}

.chat {
  flex: 1;
  justify-content: flex-start;
  overflow: scroll;
  flex-direction: column;
  padding-bottom: 16px;
}

.bot-msg {
  margin: 16px 8px 0 0;
  flex-shrink: 0;
}

.user-msg {
  justify-content: flex-end;
  margin: 16px 0 0 8px;
  flex-shrink: 0;
}

.bot-msg img,
.user-msg img {
  width: 60px;
  height: 60px;
}

.bubble {
  background: #f0f2fa;
  box-shadow: 1px 2px 10px 1px #A3A3A3;
  font-size: 18px;
  padding: 7px 24px;
  font-weight: 600;
  color: #345166;
  max-width: 80%;
}

.bot-bubble {
  border-radius: 0px 26px 26px 26px;
  margin-left: 8px;
  margin-top: 20px;
}

.user-bubble {
  border-radius: 26px 0 26px 26px;
  margin-right: 8px;
  background-color: #345166;
  color: var(--clr-light);
}

.timestamp {
  margin-top: 6px;
  font-size: 13px;
  color: rgb(114, 114, 114);
}

.timestamp-left {
  margin-left: 84px;
}

.timestamp-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
}

.input-wrapper {
  justify-content: center;
}

.submit-button {
  margin-left: 5px;
}

button {
  padding: 16px 35px;
  margin-right: 4px;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.9;
  transition: all 0.2s ease;
}

.button-wrapper {
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 10px;
}

.select-wrapper {
  border-radius: 4px 0 0 4px;
  background-color: #e5e9ff;
}

.contact-options {
  padding: 0 20px;
  height: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.option {
  opacity: 0.5;
}

@media (min-width: 460px) {
  h1 {
    font-size: 44px;
  }
  .submit-button {
    margin-left: 10px;
  } 
  button {
    padding: 16px 40px;
  }
}

@media (min-width: 640px) {
  main {
    border-radius: 35px;
    height: 600px;
  }
}

@media (min-width: 1024px) {
  .bubble {
    max-width: 40%;
  }
}
