/* Set default font family */
* {
  font-family: "Verdana", "sans-serif";
}

/* Font size and styles for the general text elements */
.input__text,
.input__button,
.message__text {
  font-size: 1em;
  line-height: 1.5em;
  color: white;
}

/* Font size and styles for the larger text elements */
.title,
.subtitle {
  font-family: "UnZialish";
  color: #5e1919;
  text-align: center;
}

/* Specific font styles and sizes */
.title {
  font-size: 3em;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 2em;
}

.input__button {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
